
@{
    ViewBag.Title = "Logout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .title{
        text-indent: 40px;
    }
</style>
<div class="header rounded-corners">
    <br />
    <br />
    <h3 class="title">You have been logged out.</h3>
</div>
