<!DOCTYPE HTML>
@{
    ViewBag.Title = "About Chef's Corner";
}
<h1 class="textHeading mb-5 mt-5">@ViewBag.Title</h1>
<style>
    .row {
        background-color: #f2ffcc;
    }

    #footer {
        background-color: #f2ffcc;
    }
</style>

<html>


<head class="head">

    <meta charset="UTF-8">
    <title>About Chef's Corner</title>
    @*<link rel="stylesheet" href="css/style.css" type="text/css">*@
    <script type='text/javascript' src='//platform-api.sharethis.com/js/sharethis.js#property=5c65ec2f7056550011c4a26f&product=sticky-share-buttons' async='async'></script>

</head>



<body>
    <div class="row">
        <div class="col-xs-12  col-md-5">
            <div class="img-fluid ">
                <img src="~/Images/eggs.jpg" alt="Img" class="img">
            </div>
        </div>

        <div class="col-xs-12  col-md-7">
            <div style="height: 40px; background-color: #f2ffcc"></div>
            <h3 class="textHeading ">Cooking, Made Easier</h3>
            <br style="background-color:#f2ffcc" />
            <p class="text" style="color:#606060">
                There are a variety of different cookbook websites across the internet, but we wanted to be more than that.
                Chef's Corner is a website that allows you to search up many kinds of recipes, share them on social networks, and even substitute your ingredients to create your own unique recipes!

                We strive to be the go-to cooking website to share your recipes with everyone as quickly and as easily as possible.

                Our unique ingredient substitution system allows you to make your own personal creations.
            </p>
            <br style="background-color:#f2ffcc" />
            <br style="background-color:#f2ffcc" />
            <h4 class="textHeading">
                Sign up now and join Chef's Corner today!
            </h4>

        </div>
    </div>



    <div style="height: 60px; background-color: #f2ffcc"></div>

    <div id="footer">
        <div id="connect">
            <div class="sharethis-inline-share-buttons"></div>

        </div>
    </div>
</body>
</html>